@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes draw-circle {
    from {
      stroke-dashoffset: 282.743;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .animate-draw-circle {
    animation: draw-circle 0.7s ease forwards;
  }
}
